.expand {
  width: 27rem !important;
}


#sidebar:not(.expand) .sidebar-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#sidebar:not(.expand) .sidebar-header .logo-text,
#sidebar:not(.expand) .search-container,
#sidebar:not(.expand) .sidebar-App-info,
#sidebar:not(.expand) .sidebar-list .sidebar-list-item .item-text {
  display: none !important;
  appearance: none;
}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0.8rem;
  text-align: center;

}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item .btn-primary .sidebar-icon {
  font-size: 2.4rem;
}


/* Pop Ups */

#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover {
  position: relative;
  transition: all 0.35s;
}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover .pop-up {
  display: inline-block;
  position: absolute;
  width: max-content;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: #02090e;
  z-index: 10000;
  padding: 1.6rem 1.6rem;
  border-radius: 11px;
  color: #ddd;
}



#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover .pop-up--home {
  right: -80%;
}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover .pop-up--orders {
  right: -85%;
}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover .pop-up--fuels {
  right: -77.5%;
}

#sidebar:not(.expand) .sidebar-list .sidebar-list-item:hover .pop-up--make-order {
  right: -115%;
}